openapi: 3.0.0
info:
  title: API Accounts - Open Banking Brasil
  description: |
    API de contas de depósito à vista, contas de poupança e contas pré-pagas do Open Banking Brasil – Fase 2.
    API que retorna informações de contas de depósito à vista, contas de poupança e contas de pagamento pré-pagas mantidas nas instituições transmissoras por seus clientes,
    incluindo dados de identificação da conta, saldos, limites e transações.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os `endpoints`.

    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a `DADOS`.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Este token deverá estar relacionado ao consentimento (`consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos 
    dados relacionados ao `consentId` específico relacionado.\
    Os dados serão devolvidos na consulta desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    É também necessário que o recurso em questão (conta, contrato, etc) esteja disponível na instituição transmissora (ou seja, sem boqueios de qualquer natureza e com todas as autorizações/consentimentos já autorizados).\
    Além disso as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado (`consentId`).\
    Relacionamos a seguir as `permissions` necessárias para a consulta de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Accounts

    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/accounts`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}`
      - permissions:
        - GET: **ACCOUNTS_READ**
    ### `/accounts/{accountId}/balances`
      - permissions:
        - GET: **ACCOUNTS_BALANCES_READ**
    ### `/accounts/{accountId}/transactions`
      - permissions:
        - GET: **ACCOUNTS_TRANSACTIONS_READ**
    ### `/accounts/{accountId}/overdraft-limits`
      - permissions:
        - GET: **ACCOUNTS_OVERDRAFT_LIMITS_READ**
  version: 1.0.3
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: "https://api.banco.com.br/open-banking/accounts/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/accounts/v1"
    description: Servidor de Homologação
tags:
  - name: Accounts
    description: Operações para listagem das informações da Conta do Cliente
paths:
  /accounts:
    $ref: paths/api_accounts/get_accounts.yml
  /accounts/{accountId}:
    $ref: paths/api_accounts/get_accounts_{accountId}.yml
  /accounts/{accountId}/balances:
    $ref: paths/api_accounts/get_accounts_{accountId}_balances.yml
  /accounts/{accountId}/transactions:
    $ref: paths/api_accounts/get_accounts_{accountId}_transactions.yml
  /accounts/{accountId}/overdraft-limits:
    $ref: paths/api_accounts/get_accounts_{accountId}_overdraft_limits.yml
components:
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration"
    OAuth2Security:
      type: oauth2
      description: "Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados."
      flows:
        authorizationCode:
          authorizationUrl: "https://authserver.example/authorization"
          tokenUrl: "https://authserver.example/token"
          scopes:
            accounts: "Escopo necessário para acesso à API Accounts. O controle dos endpoints específicos é feito via permissions."
